.navbar{
    background-color: rgb(255,255,255) !important;
}

/* Colour of the 'Source' link in the navbar, set to white to be hidden */
.navbar .nav-item a{
    color: rgb(255,255,255) !important;
}

.navbar .dropdown-menu{
    background-color: rgba(26,43,76);
}

/* Sets properties for when hovering over a menu item in the 
   drop-down menu */
.dropdown-item:hover{
    background-color: rgba(137,169,217,0.5);
}

/* Sets the appearence for the 'Continue' button... */
.btn-primary{
  color: rgb(255,255,255);
  background-color: rgb(249,150,76);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 12px 28px;
}
/* ...and when hovering over it */
.btn-primary:hover{
  color: rgb(255,255,255);
  background-color: rgb(249,150,76);
  border: none;
  
}
.btn-primary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-primary span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
/* effect for continue */
.btn-primary:hover span {
  padding-right: 25px;
}

.btn-primary:hover span:after {
  opacity: 1;
  right: 0;
}

/* ...and the box shadow stuff */
.btn-primary:focus {
  box-shadow: none !important;
  outline-color: rgb(242, 173, 124) !important;
  outline-width: 1px !important;
}
/* Sets the appearence for the 'Exit' button... */
.btn-danger{
  color: rgb(255,255,255);
  background-color: rgba(32,95,189);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 12px 28px;
}

/* ...and when hovering over it */
.btn-danger:hover{
  color: rgb(255,255,255);
  background-color: rgba(32,95,189);
  border: none;
}

/* Sets the appearence for the navigation bar... */
.nav-link{
  color: rgb(230,128,82);
  background-color: rgba(255,255,255);
  border-color: rgba(230,128,82);
}

/* ...and when hovering over it */
.nav-link:hover{
  color: rgba(30,117,175);
  background-color: rgba(165,204,239);
  border-color: rgba(230,128,82);
  cursor: pointer;
}

/* ... and when active state */
.daclickable.nav-link.danavlink.active{
  color: rgba(32,68,144);
  background-color: rgba(255,255,255);
  border-color: rgba(32,68,144);  
}

/* ... and when active state */
.nav-link.danavlink.active{
  color: rgba(32,68,144);
  background-color: rgba(255,255,255);
  border-color: rgba(32,68,144);  
}
html {
  color: rgb(26,43,76);
  font: Calibri;
}
body {
  font-size: 1.2rem;
  line-height: 1.5;
  word-spacing: 5px;
  color: rgb(32,68,144);
  font: Calibri;
  position: relative;
  top: 150px;
}
a.daterm{
  color: rgb(249,150,76);
}
daquestion {
  padding: 100px
}
.progress-bar{
   color: rgb(255,255,255);
   background-color: rgb(32,68,144);
}
.progress.mt-2{
   color: rgb(255,255,255);
   height: 20px;
   position: relative;
}
